body{
	background-color:#E2E8F0;
	margin:10px;

}

.main{
	padding-left:100px;
}

form input{
	width:1000px;
	padding:10px;
}

form .btn{
	padding:10px;
	width:100px;
	border-radius:5px;
	background-color:red;
	color:white;
}

h1{
	padding:40px;
	color:white;
	text-align:center;
	background-color:#1B7994;
}